[tasbot]
serverport=8200
serveraddr=taspringmaster.clan-sy.com
nick=FaqBot
password=
debug=1
logfile=faqbot.log
pidfile=faqbot.pid

admins=_koshi_,BrainDamage
plugins=faq,join_channels

[join_channels]
channels=sasi

[faq]
faqlinksfile=faqlinks.txt
faqfile=faqs.txt
