%serveraddr=localhost;
serveraddr=taspringmaster.clan-sy.com;
serverport=8200;

nick=FaqBot;
password=;

admins=_koshi_,BrainDamage,koshi007,WindyPeet;
plugins=help,faq,join_channels;

channels=springlobby;
faqfile=faqs.txt;
faqlinksfile=faqlinks.txt;
